{% extends 'blog/base.html' %}

{% block title %}{{detailpost.title}}{% endblock %}

{% block content %}

<p>Post Author: {{detailpost.author.username}}</p>
<p>{{detailpost.content}}</p>

{% if user.is_authenticated && detailpost.author%}
   <a href="{% url 'post-edit' pk% }">Edit Post</a>
   <a href="{% url 'post-delete' detailpost.pk% }">Delete Post</a>

   
{% endif %}


<!-- COMMENTS LIST -->
<section id="comments">
   <h2>Comments {{comments.count}}</h2>
   {% if comments %}

        <ul>
         {% for comment in comments %}
           <li>
                <p><strong>{{comment.author}}</strong> - {{comment.created_at}}</p>
                <p>{{comment.content}}</p>


                {% if user.is_authenticated && user == comment.author%}
                   <a href="{% url 'comment-edit' %}">Edit Comment</a>
                   <a href="{% url 'comment-delete' %}">Delete Comment</a>
                {% endif %}   
           </li>
           {% endfor %}
        </ul>
   {% else %}
   
    <p>No comments Yet</p>
   
    {% endif %}
    
</section>




<!-- CREATE COMMENT -->
 <section id="create-comment">
   {% if user.is_authenticated %}
   <h2>Leave a Comment</h2>
    <form action="{% url 'comment-create' detailpost.pk %}" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Post Comment</button>
    </form>

    {% else %}
    <p><a href="{% url 'login' %}">Log in</a>to leave a comment</p>
   
    {% endif %}


 </section>

<a href="{% url 'posts'%}" >Go back to Posts</a>



{% endblock %}